{% extends 'base.html.twig' %}

{% block title %}Hello ServiceRequestController!{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 my-5">
        <h1>Create service request</h1>
        <twig:service_request_form/>
    </div>
</div>
{% endblock %}
